
header {
    width: 100vw;
    height: 100vh;
    background-color: #049dd9;
    border-radius: 20px;
    z-index: 1;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: #F24968;
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.barraNavegacion{
    display: flex;
}
.cartelera{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80vw;
}
.caja{
    width: 50vw;
    height: 50vh;
    background-color: #b7f249;
    border-radius: 40px;
}
.categoria{
    width: 80vw;
    display: flex;
    flex-flow: column wrap;
}
.categoriaInfo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.peliculas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.peliculasCaja{
    width: 15vw;
    height: 35vh;
    background-color: #7746ff;
    border-radius: 40px;
}